# This is a basic workflow to help you get started with Actions

name: CI-deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  repository_dispatch:
    types: dispatch-to-conf

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env: 
    imagetag: "${{ github.event.client_payload.ref || 4.3 }}"
    repo: "${{ github.event.client_payload.repo || github.event.repository.name }}"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # runs-on: self-hosted
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
            ref: main

      # - name: clone kube-tools branch release
      #   uses: actions/checkout@v4
      #   with:
      #     repository: 'jfv-opensource/kube-tools.git'
      #     path: 'kube-tools'
      #     ref: 'release'

      - name: Start minikube
        uses: medyagh/setup-minikube@latest
        with:
          cache: false

      - name: Try the cluster!
        run: kubectl get pods -A

      # Install kubernetes cluster 
      # Install abcdesktop 
      # Run postman tests
      # Each step runs in its own process in the runner environment
      # - name: Setup kubernetes
      #   run: |
      #     cd kube-tools && sudo ./km --apply

      - name: Install abcdesktop
        run: |
          kubernetes/install-${{ env.imagetag }}.sh --timeout 1800s --force --imagepullpolicy Always 
      
      - name: get pods
        run: |
          kubectl get pods -n abcdesktop
          kubernetes/samples/create_pod.sh
          kubectl get pods -n abcdesktop

      - name: Pull applications
        run: | 
          kubernetes/pullapps-${{ env.imagetag }}.sh

      - name: Run postman tests
        run: |
          kubernetes/run_postmantest-3.1.sh

      - name: Install requirements for selenium testing
        run: |
          ./tests/install-tests.sh

      - name: Run selenium tests
        run: |
          HOST=$(hostname -I 2>/dev/null)
          IP=$(echo "$HOST"|awk '{print $1}')
          URL="http://$IP:30443/"
          VERSION=$(echo ${{ env.imagetag }})
          echo "current abcdesktop URL is $URL"
          echo "current abcdesktop version is $VERSION"
          cd tests
          npm run test -- --url="$URL" --version="$VERSION"

      - name: Upload selenuim webdriver screenshots
        uses: actions/upload-artifact@v4
        with:
          name: selenium-webdriver-screenshots
          path: ./tests/screens/

      - name: Uninstall abcdesktop
        run: |
          kubernetes/uninstall-${{ env.imagetag }}.sh
          sudo rm *.pem
          sudo rm od.config
          sudo rm abcdesktop.yaml
